.slick-track {
    display:flex;
}
.slick-prev {
    left: 3% !important;
    z-index: 1;
    padding-bottom: 5%;
}
.slick-next {
    right: 3% !important;
    z-index: 1;
    padding-bottom: 5%;
}
.slick-slide > {
    margin: 0 2px;
}
.slick-list {
    margin: 0 -2px;
}